@use "../../Sass/Abstracts/colors" as *;
@use "../../Sass/Abstracts/mixins" as *;

.project {
    padding: 20px;
    margin: 20px;
}

.project-front {
    width: 100%;
    height: 100%;
}

.project-back {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tech-container {
    width: 80%
}

.github-link {
    @include flex(center, center);
}
.github-link * {
    margin: 0 2px;
}