@use '../../Sass/Abstracts/colors' as *;

.technology {
    background-color: $dark-900;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid $gray-400;
    cursor: pointer;
    margin: 4px;
}