@use "../../Sass/Abstracts/mixins" as *;

.contact {
    @include flex(center, center);
    flex-direction: column;
}

.contacts-wrapper {
    margin-top: 40px;
    @include flex(center, space-between);
    width: 100%;
}

.contact-block {
    @include flex(center, center);
    flex-direction: column;
    cursor: pointer;
}

.contact-block > span {
    color: rgb(182, 182, 182);
    font-size: 18px;
    margin-top: 15px;
}